<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
    <select id="getDeptList" resultType="deptDto">
        SELECT DEP_NO, DEP_NAME
        FROM DEPARTMENT
    </select>

    <insert id="insertEmp">
        INSERT INTO HR(
               EMP_NO,
               DEP_NO,
               ADMIN_LEVEL,
               EMP_RANK,
               EMP_POSITION,
               EMP_NAME,
               EMAIL,
               EMP_PWD,
               ENTRY_DATE
        )
        VALUES(
               HR_SEQ.nextval,
               #{depNo},
               #{adminLevel},
               #{empRank},
               #{empPosition},
               #{empName},
               #{email},
               #{empPwd},
               #{entryDate}
        )
    </insert>

    <select id="getEmpList" resultType="memberDto">
        SELECT EMP_NO, D.DEP_NAME, EMP_RANK, EMP_POSITION, EMP_NAME, ENTRY_DATE
        FROM HR
        INNER JOIN DEPARTMENT D on D.DEP_NO = HR.DEP_NO
        WHERE RESIGN_YN = 'N'
    </select>

    <select id="getEmp" resultType="memberDto">
        SELECT EMP_NO, DEP_NO, EMP_RANK, EMP_POSITION, EMP_NAME, ENTRY_DATE, EMAIL
        FROM HR
        WHERE EMP_NO = #{empNo}
    </select>

    <update id="editEmp">
        UPDATE HR
        SET
            EMP_NAME = #{empName},
            EMAIL = #{email},
            ENTRY_DATE = #{entryDate},
            DEP_NO = #{depNo},
            EMP_POSITION = #{empPosition},
            EMP_RANK = #{empRank},
            ADMIN_LEVEL = #{adminLevel}
        WHERE EMP_NO = #{empNo}
    </update>

    <insert id="addDept">
        INSERT INTO DEPARTMENT(DEP_NO, DEP_NAME)
        VALUES (SEQ_DEPARTMENT_DEP_NO.nextval, #{name})
    </insert>

    <select id="getDeptDetail" resultType="deptDetail">
        SELECT DEP_NAME, TOTAL_NUM
        FROM (
            SELECT DEP_NO, COUNT(EMP_NO) AS TOTAL_NUM
            FROM HR
            GROUP BY DEP_NO
        ) A
        INNER JOIN DEPARTMENT D on D.DEP_NO = A.DEP_NO
        WHERE D.DEP_NO = #{depNo}
    </select>

    <select id="getDeptEmpList" resultType="deptEmp">
        SELECT EMP_NO, EMP_NAME, EMP_RANK, EMP_POSITION
        FROM HR
        WHERE DEP_NO = #{depNo}
    </select>

    <update id="changeDept">
        UPDATE DEPARTMENT
        SET DEP_NAME = #{depName}
        WHERE DEP_NO = #{depNo}
    </update>

    <update id="editPost">
        UPDATE POST
        SET TITLE = #{title},
            CONTENT = #{content}
        WHERE POST_NO = #{postNo}
    </update>

    <insert id="insertNotice">
        <selectKey keyProperty="postNo" order="BEFORE" resultType="long">
            SELECT POST_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO POST(
             POST_NO,
             EMP_NO,
             BOARD_NO,
             TITLE,
             CATEGORY,
             CONTENT,
             ROOT,
             IS_NOTICE,
             START_TIME,
             END_TIME
        )
        VALUES(
               #{postNo},
               #{empNo},
               1,
               #{title},
               '공지',
               #{content},
               #{postNo},
               'Y',
               TO_DATE(#{startTime}, 'YYYY-MM-DD"T"HH24:MI:SS'),
               TO_DATE(#{endTime}, 'YYYY-MM-DD"T"HH24:MI:SS')
       )
    </insert>

    <insert id="insertFile">
        INSERT INTO FILE_INFO(
            SEQ,
            POST_NO,
            FILE_EXT,
            FILE_SIZE,
            ORIGIN_NAME,
            SAVE_PATH
        )
        VALUES(
          FILE_INFO_SEQ.NEXTVAL,
          #{postNo},
          #{fileExt},
          #{fileSize},
          #{originName},
          #{savePath}
      )
    </insert>

    <select id="getFileList" resultType="fileInfo">
        SELECT *
        FROM FILE_INFO
        WHERE FLAG_DEL = 'N'
    </select>

    <update id="deleteFile">
        UPDATE FILE_INFO
        SET FLAG_DEL = 'Y'
        WHERE SEQ = #{fileNo}
    </update>

    <insert id="insertEmpByExcel">
        INSERT INTO HR_TEST
        (
            EMP_NO,
            DEP_NO,
            ADMIN_LEVEL,
            EMP_RANK,
            EMP_POSITION,
            EMP_NAME,
            EMAIL,
            EMP_PWD,
            PHONE,
            RESI_NO,
            ADDRESS,
            BANK,
            BANK_ACC
        )
        VALUES
        (
            HR_TEST_SEQ.nextval,
            #{depNo},
            #{adminLevel},
            #{empRank},
            #{empPosition},
            #{empName},
            #{email},
            #{empPwd},
            #{phone},
            #{resiNo},
            #{address},
            #{bank},
            #{bankAcc}
        )
    </insert>
</mapper>