<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">
	<select id="getPostList" resultType="post">
		SELECT * FROM (
		
			SELECT ROWNUM RN, T.*
			FROM (
			
				SELECT  P.*,
						H.EMP_NAME
				FROM (
					SELECT *
					FROM POST
					START WITH DEPTH = 0
					CONNECT BY PRIOR POST_NO = REF
					ORDER SIBLINGS BY ROOT DESC
				) P
				INNER JOIN HR H
					ON P.EMP_NO = H.EMP_NO
				WHERE P.BOARD_NO = #{boardNo} 
				AND P.IS_DELETED = 'N'
				AND P.IS_NOTICE = 'N'
				<if test='category neq "전체"'>
				AND P.CATEGORY = #{category}
				</if>
				<if test='search != null and search neq ""'>
				AND P.TITLE LIKE '%' || #{search} || '%'
				</if>
			) T
		)
		WHERE RN BETWEEN #{startRow} AND #{endRow}
	</select>

	<select id="getNoticeList" resultType="post">
		SELECT P.*, EMP_NAME
		FROM POST P
		INNER JOIN HR H ON P.EMP_NO = H.EMP_NO
		WHERE IS_NOTICE = 'Y'
		  AND SYSDATE BETWEEN START_TIME AND END_TIME
		ORDER BY CREATED_TIME DESC
	</select>
	
	<insert id="insertPost">
		<selectKey keyProperty="postNo" order="BEFORE" resultType="long">
			SELECT POST_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO POST(
			POST_NO,
			EMP_NO,
			BOARD_NO,
			TITLE,
			CATEGORY,
			CONTENT,
		    ROOT,
			THUMBNAIL_PATH
		)
		VALUES(
			#{postNo},
			#{empNo},
			#{boardNo},
			#{title},
			#{category},
			#{content},
			#{postNo},
		    #{thumbnailPath}
		)
	</insert>

	<insert id="insertReplyPost">
		<selectKey keyProperty="postNo" order="BEFORE" resultType="long">
			SELECT POST_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO POST(
			POST_NO,
			EMP_NO,
			BOARD_NO,
			TITLE,
			CATEGORY,
			CONTENT,
			ROOT,
		    REF,
		    DEPTH
		)
		VALUES(
			  #{postNo},
			  #{empNo},
			  #{boardNo},
			  #{title},
			  #{category},
			  #{content},
			  #{root},
			  #{ref},
		      #{depth}
		  )
	</insert>

	<insert id="insertFile">
		INSERT INTO FILE_INFO(
			SEQ,
			POST_NO,
			FILE_EXT,
			FILE_SIZE,
			ORIGIN_NAME,
			SAVE_PATH
		)
		VALUES(
			FILE_INFO_SEQ.NEXTVAL,
			#{postNo},
			#{fileExt},
			#{fileSize},
			#{originName},
			#{savePath}
		)
	</insert>
	
	<select id="getPost" resultType="post">
		SELECT  P.*,
				H.EMP_NAME
		FROM POST P
		INNER JOIN HR H
			ON P.EMP_NO = H.EMP_NO
		WHERE POST_NO = #{no} 
	</select>

	<select id="getFiles" resultType="fileInfo">
		SELECT SEQ,
			   ORIGIN_NAME
		FROM FILE_INFO
		WHERE POST_NO = #{no}
		  AND FLAG_DEL = 'N'
	</select>

	<select id="getFile" resultType="fileInfo">
		SELECT ORIGIN_NAME,
			   SAVE_PATH,
			   FILE_SIZE,
			   FILE_EXT
		FROM FILE_INFO
		WHERE SEQ = #{fileNo}
		  AND FLAG_DEL = 'N'
	</select>

	<update id="deleteFile">
		UPDATE FILE_INFO
		SET FLAG_DEL = 'Y'
		WHERE SEQ = #{fileNo}
	</update>

	<update id="increaseDownloadCnt">
		UPDATE FILE_INFO
		SET DOWNLOAD_CNT = DOWNLOAD_CNT + 1
		WHERE SEQ = #{fileNo}
	</update>

	<update id="updatePost">
		UPDATE POST
		SET
			TITLE = #{title},
			CATEGORY = #{category},
			CONTENT = #{content},
			THUMBNAIL_PATH = #{thumbnailPath}
		WHERE POST_NO = #{postNo}
	</update>
	
	<update id="deletePost">
		UPDATE POST
		SET IS_DELETED = 'Y'
		WHERE POST_NO IN (
		    SELECT POST_NO
		    FROM POST
		    START WITH POST_NO = #{postNo}
		    CONNECT BY PRIOR POST_NO = REF
			)
	</update>
	
	<select id="getTotalPostNum" resultType="int">
		SELECT COUNT(*)
		FROM POST
		WHERE BOARD_NO = #{boardNo}
		  AND IS_DELETED = 'N' 
	</select>
	
	<select id="getRecentList" resultType="post">
		SELECT * FROM (
		
			SELECT ROWNUM RN, T.*
			FROM (
			
				SELECT  P.*,
						H.EMP_NAME
				FROM POST P
				INNER JOIN HR H
					ON P.EMP_NO = H.EMP_NO
				WHERE P.BOARD_NO = 1
				AND P.IS_DELETED = 'N'
				ORDER BY P.POST_NO DESC
			
			) T
		)
		WHERE RN BETWEEN 1 AND 5
	</select>

	<insert id="insertReply">
		INSERT INTO REPLY(
			REPLY_NO,
			POST_NO,
			REPLY_FOR,
			EMP_NO,
			CONTENT
		)
		VALUES(
			REPLY_SEQ.NEXTVAL,
			#{postNo},
			#{replyFor},
			#{empNo},
			#{content}
		)
	</insert>

	<select id="getReplyList" resultType="reply">
		SELECT * FROM (

			SELECT ROWNUM RN, T.*
			FROM (

				SELECT  R.*,
						H.EMP_NAME
				FROM REPLY R
				INNER JOIN HR H
					ON R.EMP_NO = H.EMP_NO
				WHERE R.POST_NO = #{no}
				ORDER BY R.REPLY_NO DESC

			) T
		)
	</select>

	<update id="updateReply">
		UPDATE REPLY
		SET
			CONTENT = #{content}
		WHERE REPLY_NO = #{replyNo}
	</update>

	<update id="deleteReply">
		UPDATE REPLY
		SET
			IS_DELETED = 'Y'
		WHERE REPLY_NO = #{replyNo}
	</update>

	<update id="increaseViewCnt">
		UPDATE POST
		SET VIEW_CNT = VIEW_CNT + 1
		WHERE POST_NO= #{no}
	</update>

	<select id="getCategoryList" resultType="board">
		SELECT *
		FROM BOARD
		WHERE DEP_NO = #{depNo}
	</select>

	<select id="getBoardDepNo" resultType="long">
		SELECT DEP_NO
		FROM BOARD
		WHERE SEQ = #{boardNo}
	</select>

	<select id="getCategoryListForUser" resultType="board">
		SELECT B.*
		FROM BOARD B
		JOIN BOARD_USER U ON B.SEQ = U.BOARD_SEQ
		WHERE B.DEP_NO = #{depNo}
		AND U.EMP_NO = #{empNo}

		UNION

		SELECT *
		FROM BOARD
		WHERE DEP_NO = #{depNo}
		AND REF = 0
	</select>
</mapper>
