<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="workflow">
	<insert id="insertOffDoc">
		INSERT INTO FORM_1(
			SEQ,
			EMP_NO,
			TITLE,
			OFF_TYPE,
			START_TIME,
			END_TIME,
			REASON
		)
		VALUES(
			FORM_1_SEQ.nextval,
			#{empNo},
		    #{title},
		    #{offType},
			TO_DATE(#{startTime}, 'YYYY-MM-DDHH24:MI'),
			TO_DATE(#{endTime}, 'YYYY-MM-DDHH24:MI'),
		    #{reason}
		)
		<selectKey keyProperty="seq" order="AFTER" resultType="long">
			SELECT FORM_1_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="insertSelfEvalDoc">
		INSERT INTO FORM_2(
			SEQ,
			EMP_NO,
			TITLE,
			CREATE_DATE,
			START_DATE,
		    END_DATE,
		    CONTENT1,
		    CONTENT2,
		    CONTENT3,
		    CONTENT4
		)
		VALUES(
			FORM_2_SEQ.nextval,
			#{empNo},
		    #{title},
			TO_DATE(#{createDate}, 'YYYY-MM-DD'),
			TO_DATE(#{startDate}, 'YYYY-MM-DD'),
			TO_DATE(#{endDate}, 'YYYY-MM-DD'),
		    #{content1},
		    #{content2},
		    #{content3},
		    #{content4}
		)
		<selectKey keyProperty="seq" order="AFTER" resultType="long">
			SELECT FORM_2_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="insertApproval">
		INSERT INTO WORKFLOW_APPROVAL(
		    SEQ,
		    FORM_SEQ,
		    DOC_SEQ,
		    EMP_NO,
		    STEP,
		    ACTIVATE
		)
		VALUES (
			WORKFLOW_APPROVAL_SEQ.NEXTVAL,
			#{formSeq},
			#{docSeq},
			#{empNo},
			#{step},
			<if test="step == 1">'Y'</if>
			<if test="step != 1">'N'</if>
	    )
	</insert>

	<insert id="insertReference">
		INSERT INTO WORKFLOW_REF(
		    SEQ,
		    FORM_SEQ,
		    DOC_SEQ,
		    EMP_NO
		)
		VALUES (
			WORKFLOW_REF_SEQ.NEXTVAL,
			#{formSeq},
			#{docSeq},
			#{empNo}
	    )
	</insert>

	<select id="getDocList" resultType="docVo">
		SELECT X.*
		FROM
			(SELECT F.SEQ as DOC_SEQ,
					F.FORM_SEQ,
					F.TITLE,
					A.MAX_APPROVAL,
					A.APPROVAL_CNT,
					F.LAST_APPROVAL_TIME,
					F.LAST_APPROVAL_EMP,
					F.CREATE_TIME
			 FROM (SELECT F.SEQ                                           as SEQ,
						  COUNT(WA.SEQ)                                   as MAX_APPROVAL,
						  MAX(APPROVE_TIME)                               as LAST_APPROVAL_TIME,
						  COUNT(CASE WHEN WA.IS_APPROVE = 'Y' THEN 1 END) AS APPROVAL_CNT
				   FROM FORM_1 F
							JOIN WORKFLOW_APPROVAL WA
								 on F.SEQ = WA.DOC_SEQ AND F.FORM_SEQ = WA.FORM_SEQ
				   WHERE F.EMP_NO = #{empNo}
				   GROUP BY F.SEQ, F.FORM_SEQ) A
					  JOIN FORM_1 F ON F.SEQ = A.SEQ
			 WHERE EMP_NO = #{empNo}
			 UNION ALL
			 SELECT F.SEQ as DOC_SEQ,
					F.FORM_SEQ,
					F.TITLE,
					A.MAX_APPROVAL,
					A.APPROVAL_CNT,
					F.LAST_APPROVAL_TIME,
					F.LAST_APPROVAL_EMP,
					F.CREATE_TIME
			 FROM (SELECT F.SEQ                                           as SEQ,
						  COUNT(WA.SEQ)                                   as MAX_APPROVAL,
						  MAX(APPROVE_TIME)                               as LAST_APPROVAL_TIME,
						  COUNT(CASE WHEN WA.IS_APPROVE = 'Y' THEN 1 END) AS APPROVAL_CNT
				   FROM FORM_2 F
							JOIN WORKFLOW_APPROVAL WA
								 on F.SEQ = WA.DOC_SEQ AND F.FORM_SEQ = WA.FORM_SEQ
				   WHERE F.EMP_NO = #{empNo}
				   GROUP BY F.SEQ, F.FORM_SEQ) A
					  JOIN FORM_2 F ON F.SEQ = A.SEQ
			 WHERE EMP_NO = #{empNo}) X
		ORDER BY CREATE_TIME DESC
	</select>

	<select id="getOffDoc" resultType="offDoc">
		SELECT F.*,
			   H.EMP_NAME as WRITER,
			   D.DEP_NAME as WRITER_DEP,
			   H.EMP_RANK as WRITER_RANK
		FROM FORM_1 F
				 JOIN HR H ON F.EMP_NO = H.EMP_NO
				 JOIN DEPARTMENT D on H.DEP_NO = D.DEP_NO
		WHERE SEQ = #{docSeq}
	</select>

	<select id="getSelfEvalDoc" resultType="selfEvalDoc">
		SELECT F.*,
		       H.EMP_NAME as WRITER,
		       D.DEP_NAME as WRITER_DEP,
		       H.EMP_RANK as WRITER_RANK
		FROM FORM_2 F
		JOIN HR H ON F.EMP_NO = H.EMP_NO
		JOIN DEPARTMENT D on H.DEP_NO = D.DEP_NO
 		WHERE SEQ = #{docSeq}
	</select>

	<select id="getApprovals" resultType="approval">
		SELECT A.*, H.EMP_NAME, H.EMP_RANK, D.DEP_NAME
		FROM WORKFLOW_APPROVAL A
		JOIN HR H on A.EMP_NO = H.EMP_NO
		JOIN DEPARTMENT D on H.DEP_NO = D.DEP_NO
		WHERE FORM_SEQ = #{formSeq}
		  AND DOC_SEQ = #{docSeq}
	</select>

	<select id="getReferences" resultType="reference">
		SELECT R.*, H.EMP_NAME, D.DEP_NAME
		FROM WORKFLOW_REF R
		JOIN HR H on R.EMP_NO = H.EMP_NO
		JOIN DEPARTMENT D on H.DEP_NO = D.DEP_NO
		WHERE FORM_SEQ = #{formSeq}
		  AND DOC_SEQ = #{docSeq}
	</select>

	<select id="getDocToApproveList" resultType="approvalBox">
		SELECT X.*
		FROM (SELECT A.DOC_SEQ,
					 A.FORM_SEQ,
					 H.EMP_NAME as WRITER_NAME,
					 D.DEP_NAME as WRITER_DEP,
					 F.TITLE,
					 F.CREATE_TIME,
					 A.IS_APPROVE,
					 A.APPROVE_TIME,
					 A.ACTIVATE
			  FROM FORM_1 F
					   JOIN WORKFLOW_APPROVAL A
							ON F.SEQ = A.DOC_SEQ AND F.FORM_SEQ = A.FORM_SEQ
					   JOIN HR H
							ON F.EMP_NO = H.EMP_NO
					   JOIN DEPARTMENT D
							ON H.DEP_NO = D.DEP_NO
			  WHERE A.EMP_NO = #{empNo}
			  UNION
			  SELECT A.DOC_SEQ,
					 A.FORM_SEQ,
					 H.EMP_NAME as WRITER_NAME,
					 D.DEP_NAME as WRITER_DEP,
					 F.TITLE,
					 F.CREATE_TIME,
					 A.IS_APPROVE,
					 A.APPROVE_TIME,
					 A.ACTIVATE
			  FROM FORM_2 F
					   JOIN WORKFLOW_APPROVAL A
							ON F.SEQ = A.DOC_SEQ AND F.FORM_SEQ = A.FORM_SEQ
					   JOIN HR H
							ON F.EMP_NO = H.EMP_NO
					   JOIN DEPARTMENT D
							ON H.DEP_NO = D.DEP_NO
			  WHERE A.EMP_NO = #{empNo}) X
		ORDER BY CREATE_TIME DESC
	</select>

	<update id="approve">
		<selectKey keyProperty="seq" order="BEFORE" resultType="long">
			SELECT SEQ, STEP
			FROM WORKFLOW_APPROVAL
			WHERE EMP_NO = #{empNo}
			  AND FORM_SEQ = #{formSeq}
			  AND DOC_SEQ = #{docSeq}
		</selectKey>
		UPDATE WORKFLOW_APPROVAL
		SET IS_APPROVE = 'Y',
		    APPROVE_TIME = SYSDATE,
		    ACTIVATE = 'N'
		WHERE SEQ = #{seq}
	</update>

	<update id="updateApprovalDataForOffDoc">
		UPDATE FORM_1
		SET (LAST_APPROVAL_TIME, LAST_APPROVAL_EMP) =
		    (
		        SELECT A.APPROVE_TIME, H.EMP_NAME
		        FROM WORKFLOW_APPROVAL A
		        JOIN HR H ON A.EMP_NO = H.EMP_NO
		        WHERE A.SEQ = #{seq}
			)
		WHERE SEQ = #{docSeq}
	</update>

	<update id="updateApprovalDataForSelfEvalDoc">
		UPDATE FORM_2
		SET (LAST_APPROVAL_TIME, LAST_APPROVAL_EMP) =
		    (
		        SELECT A.APPROVE_TIME, H.EMP_NAME
		        FROM WORKFLOW_APPROVAL A
		        JOIN HR H ON A.EMP_NO = H.EMP_NO
		        WHERE A.SEQ = #{seq}
			)
		WHERE SEQ = #{docSeq}
	</update>

	<update id="updateActivate">
		UPDATE WORKFLOW_APPROVAL
		SET ACTIVATE = 'Y'
		WHERE FORM_SEQ = #{formSeq}
		  AND DOC_SEQ = #{docSeq}
		  AND STEP = (SELECT STEP FROM WORKFLOW_APPROVAL WHERE SEQ = #{seq}) + 1
	</update>
</mapper>
